html, body, h1, h2, p {
	position: relative;

	margin: 0;

	font-family: 'Playfair Display', serif;
	font-weight: 100;
	text-align: center;
}

html, body {
	height: 100%;
}

body {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
}

.t h1 {
	text-shadow: 0 3px 10px rgba(0,0,0,.4);
}

.tr {
	color: white;
}

.timebg,
.datebg,
.grungebg,
.grungebgw {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	transition: background .95s;
}
.grungebg {
	background: url("../i/back-tex.png");
	background-size: cover;
	transform: translateZ(0);
}
.grungebgw {
	background: url("../i/back-tex-w.png");
	background-size: cover;
	transform: translateZ(0);
}

h1, h2, p {
	opacity: .6;

	transition: color 3s ease-in-out;
}

html:before {
	content: '';

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: linear-gradient( 15deg, rgba(0,0,0,0.4), rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.3) );
}

h1 {
	margin-top: .2em;
	margin-bottom: .4em;

	line-height: 30px;
	font-size: 30px;
}

p, h2 {
	line-height: 12px;

	opacity: .4;
}

h2 {
	box-sizing: border-box;

	width: 200px;
	margin: 0 auto;

	font-size: 12px;
	font-weight: 300;
	text-align: right;
}

h2 span + span {
	padding-left: .2em;
}

p {
	font-size: 9px;
	font-weight: 900;
	letter-spacing: .1em;
}

.w1, .w2,
.v1, .v11,
.v2, .v22 {
	margin: .2em 0;
}

.w1, .w2 {
	box-sizing: border-box;

	float: left;

	width: 49.5%;
	padding-right: .5%;

	text-align: right;
}

.w11, .w22 {
	padding-right: .2em;
}

.v1, .v2, .v11, .v22 {
	float: right;

	width: 49.5%;
	padding-left: .5%;

	text-align: left;
}

.v11, .v22,
.w11, .w22,
.hex:hover .v1,
.hex:hover .v2 {
	display: none;
}

.hex:hover .v11,
.hex:hover .v22 {
	display: block;
}

.hex:hover .w11,
.hex:hover .w22 {
	display: inline;
}

article {
	position: relative;

	top: 50%;
	margin-top: -44px;
}
article:before, article:after {
	content: '';
	display: table;
	clear: both;
}

.d {
	display: inline-block;
	width: .7em;
	padding: 0 .1em;
}

@media all and (min-width: 360px) {
	h1 {
		line-height: 45px;
		font-size: 45px;
	}
	p, h2 {
		line-height: 18px;
	}
	h2 {
		width: 302px;
		font-size: 18px;
	}
	p {
		font-size: 13.5px;
	}
	article {
		margin-top: -64px;
	}
}

@media all and (min-width: 500px) {
	h1 {
		line-height: 60px;
		font-size: 60px;
	}
	p, h2 {
		line-height: 24px;
	}
	h2 {
		width: 402px;
		font-size: 24px;
	}
	p {
		font-size: 18px;
	}
	article {
		margin-top: -84px;
	}
}

@media all and (min-width: 800px) {
	h1 {
		line-height: 75px;
		font-size: 75px;
	}
	p, h2 {
		line-height: 30px;
	}
	h2 {
		width: 502px;
		font-size: 30px;
	}
	p {
		font-size: 22.5px;
	}
	article {
		margin-top: -103px;
	}
}

@media all and (min-width: 1100px) {
	h1 {
		line-height: 90px;
		font-size: 90px;
	}
	p, h2 {
		line-height: 36px;
	}
	h2 {
		width: 604px;
		font-size: 36px;
	}
	p {
		font-size: 27px;
	}
	article {
		margin-top: -125px;
	}
}

@media all and (min-width: 1700px) {
	h1 {
		line-height: 120px;
		font-size: 120px;
	}
	p, h2 {
		line-height: 48px;
	}
	h2 {
		width: 806px;
		font-size: 48px;
	}
	p {
		font-size: 36px;
	}
	article {
		margin-top: -165px;
	}
}