
html {
	background: #7C6883;
	padding-bottom: 5em;
}

body {
	margin: 3em auto;
	padding: 10%;
	padding-top: 7%;
	width: 70%;
	background: #514B79;
	font-family: sans-serif;
	box-shadow: inset 0 1px 0 #22244A;
	border-radius: .4em;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.4;
	box-sizing: border-box;

	transition: all .5s;
}

h1, h2 {
	color: #BE828A;
	text-shadow: 0 1px 0 #22244A;
	margin-top: 0;

	transition: all .5s;
}

h1 {
	span {
		display: inline-block;
		padding-right: .3em;
		background: 100% 0 no-repeat;
		background-size: .6em;
	}

	.dev {
		background-image: url('i/cog.svg');
	}
	.des {
		background-image: url('i/spiro.svg');
	}
	.ill {
		background-image: url('i/sun.svg');
	}
	.ani {
		background-image: url('i/bounce.svg');
	}
}

h2 {
	text-shadow: 0 1px 0 #22244A;
}

a {
	color: #EEC58D;
	text-decoration: none;

	span {
		text-decoration:underline;
	}

	&:hover {
		text-decoration: underline;

		section & {
			text-shadow: 0 0 1px #22244A;
			top: 1px;
		}
	}

	section & {
		position: relative;
		top: 0;
		left: 0;
		text-shadow: 0 1px 0 #22244A;
	}
}

small {
	font-size: 12px;
	text-transform: uppercase;
}

section {
	margin-top: 8em;
	background: #7C6883;
	padding: .6em 1.2em;
	border-radius: .2em;
	box-shadow: 0 1px 2px #22244A;
}




@media all and (max-width: 480px) {
	body {
		font-size: 1.4em;
		line-height: 1.3;
		width: 90%;
		min-width: 320px;
	}

	h1 {
		font-size: 1.5em;
	}
}

@media all and (max-width: 350px) {
	body {
		margin-top: 2%;
	}
}